.BoxTitle {
    text-align: center;

    .titulo {
        font-size: 0.9rem;
        color:rgb(85,85,87);
        font-family: 'Muli';
        font-weight: 700;
        text-align: center;
        margin:0;
    }
}